
__pycache__/gradcam_detect.cpython-37.pyc
__pycache__/mediapipe_webcam.cpython-37.pyc
__pycache__/preprocess_userCSV.cpython-37.pyc
CSV_old_data/Summary_7st.csv
CSV_old_data/Summary_stuff_zero_7st.csv
output.csv
output_sample_videos/220511_222809-6237668.MOV
output_sample_videos/220512_095438-6250112.MOV
output_sample_videos/220708_165603-3979206.MOV
output_sample_videos/220708_174256-4490814.MOV
output_sample_videos/220709_130324-5942860.MOV
output_sample_videos/678977955.751344.mp4
output_sample_videos/phonecam.mp4
output_sample_videos/webcam.avi
Summary_8st.csv
Summary_9st.csv
Summary_stuff_zero_8st.csv
Summary_stuff_zero_9st.csv
output_sample_videos/220709_124851-5668087.MOV
output_sample_videos/220709_133048-9788325.MOV
__pycache__/gradcam_detect.cpython-37.pyc
__pycache__/preprocess_userCSV.cpython-37.pyc
*.pyc
